*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    display:flex;
    height:100vh;
    background:#0f172a;
}

/* SIDEBAR */

.sidebar{
    width:320px;
    background:#10233f;
    padding:20px;

    overflow-y:auto;

    border-right:2px solid #1e3a5f;
}

/* LOGO */

.logo{
    display:flex;
    align-items:center;
    gap:12px;

    color:white;

    margin-bottom:35px;

    padding-bottom:20px;

    border-bottom:2px solid #36567c;
}

.logo i{
    font-size:28px;
}

.logo h2{
    font-size:28px;
}

/* SECCIONES */

.section{
    margin-bottom:18px;
}

/* TITULO */

.title{
    display:flex;
    align-items:center;
    gap:14px;

    padding:15px;

    background:#132b4a;

    color:white;

    font-weight:bold;

    border-radius:12px 12px 0 0;
}

.title i{
    font-size:22px;
}

/* SUBMENU */

.submenu{
    background:#4f7b95;

    display:flex;
    flex-direction:column;

    gap:10px;

    padding:15px;

    border-radius:0 0 12px 12px;
}

/* LINKS */

.submenu a{
    text-decoration:none;

    color:white;

    font-size:15px;

    transition:0.3s;

    padding:8px 10px;

    border-radius:8px;
}

.submenu a:hover{
    background:rgba(255,255,255,0.2);

    transform:translateX(5px);
}

/* MAIN */

.main{
    flex:1;

    padding:25px;
}

/* TOPBAR */

.topbar{
    height:70px;

    background:#132b4a;

    border-radius:40px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 35px;

    color:white;

    margin-bottom:20px;
}

.top-logo{
    display:flex;
    align-items:center;
    gap:10px;

    font-size:20px;
    font-weight:bold;
}

/* IFRAME */

.frame{
    width:100%;

    height:calc(100vh - 120px);

    border:none;

    border-radius:25px;

    background:white;
}